/* mobile view */
@media screen and (max-width:768px){
#a{background-color: blueviolet; }
#b{background-color: aquamarine;}
#c{background-color: salmon;}
#d{background-color: darkblue;}
#e{background-color: olive;}
#f{background-color: burlywood;}
#g{background-color: slategray;}
#h{background-color: tomato;}
#i{background-color: goldenrod;} 

}
@media (min-width:768px){

    #a{background-color: goldenrod;}
    #b{background-color: tomato;}
    #c{background-color:slategray ;}
    #d{background-color: burlywood ;}
    #e{background-color: darkred;}
    #f{background-color:darkblue;}
    #g{background-color:salmon ;}
    #h{background-color:aquamarine ;}
    #i{background-color:blueviolet ;}

}