.divChild {
  overflow: hidden;
  text-align: center;
  border: 1px solid black;
}

#a {
  background-color: blueviolet;
}
#b {
  background-color: aquamarine;
}
#c {
  background-color: salmon;
}
#d {
  background-color: darkblue;
}
#e {
  background-color: olive;
}
#f {
  background-color: burlywood;
}
#g {
  background-color: slategray;
}
#h {
  background-color: tomato;
}
#i {
  background-color: goldenrod;
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  #a {
    background-color: goldenrod;
  }
  #b {
    background-color: tomato;
  }
  #c {
    background-color: slategray;
  }
  #d {
    background-color: burlywood;
  }
  #e {
    background-color: darkred;
  }
  #f {
    background-color: darkblue;
  }
  #g {
    background-color: salmon;
  }
  #h {
    background-color: aquamarine;
  }
  #i {
    background-color: blueviolet;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  #a {
    background-color: #ffc93c;
  }
  #b {
    background-color: #dbf6e9;
  }
  #c {
    background-color: #9ddfd3;
  }
  #d {
    background-color: darkblue;
  }
  #e {
    background-color: #31326f;
  }
  #f {
    background-color: #9ede73;
  }
  #g {
    background-color: #e48900;
  }
  #h {
    background-color: #be0000;
  }
  #i {
    background-color: #9ddfd3;
  }
}
